<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONSTERA</title>
    <link rel="stylesheet" href="/static/css/style_fakebook.css">
</head>
<body>

    <h1>FAKEBOOK</h1>
    <h2 class="big">MONSTERA</h2>
    <img src="https://user-images.githubusercontent.com/71344674/94052871-d7e41100-fdd9-11ea-9c6d-9c3a70116a81.jpg" alt= "Monstera" width="300">




    <p> <strong>Trenutno prebivališče:</strong> Ljubljana</p>
    <p> <strong>Poljudno ime:</strong> Monstera Deliciosa</p>
    <p> <strong>Rod/Genus:</strong> Monstera</p>
    <p> <strong>Družina/Family:</strong> Araceae</p>
    <p> <strong>Poreklo:</strong> Mexico, Panama</p>
    <br>

    <form action="http://localhost:63342/Flower%20me/index2.html?_ijt=fdev5sendojm1t8t4sbl942p0p" method="get" target="_blank">
        <button type="submit">Flower me</button>

    </form>


</body>
</html>