{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}

</head>
<body>

    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Project 2</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Fakebook</h5>
            <p class="card-text">The first Smartninja project...<a href="/fakebook">klik 1</a> </p>
        </div>
    </div>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Project 1</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Stran22</h5>
            <p class="card-text">Something else...<a href="/projects/stran22">klik 2</a> </p>
        </div>
    </div>



</body>
</html>

{% endblock %}